<!DOCTYPE html>

<html>
    <head>
        <title>Demo Spring Boot</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/vendor/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
          <div class="container">
              <h1 class="h1 text-success">Demo Spring Boot CRUD + REST API</h1>
            <p>Para ingresar hacer click <a href="productos">ac&aacute;</a></p>

        </div>
    </body>
</html>
